<!-- <div>
  <h1 *ngFor="let item of users">{{item.name}}</h1>
  <ul *ngFor="let item of users">
    <li>{{item.name}}</li>
    <li>{{item.occupation}}</li>
    <li>{{item.age}}</li>
    <li>{{item.hobbies}}</li>
  </ul>
</div> -->

<div>
  <mat-card class ="example-card" *ngFor="let item of users">
    <mat-card-header>
      <!-- <div mat-card-avatar src="{{item.avatarImg}}" class="avatarImg" ></div> -->
      <mat-card-title >{{item.name}}</mat-card-title>
      <mat-card-subtitle >{{item.occupation}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{item.mainImg}}" alt="Photos of People" class="mainImg">
    <mat-card-content>
      <ul >
        <li>
          Age: {{item.age}}
        </li>
        <li>
          House: {{item.house}}
        </li>
        <li>
          Patronus: {{item.patronus}}
        </li>
        <li>
          Hobbies: {{item.hobbies}}
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>