.content {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
}

.row {
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  padding: 125px;  

}

.example-card {
  max-width: 400px;
  padding: 25px;
}

.button {
  padding: 25px;
}

  /* .title-name {
    color:blue;
  } */
  
  /* .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  } */

  /* .dumbledoreAvatar {
    background-image: url("../assets/images/DD-profile.jpeg");
    background-size: cover;
  } */